.song-card-description-wrapper {
  display: grid;
  text-align: left;
  width: 100%;
  white-space: nowrap;
}

.song-card-description-text {
  text-overflow: ellipsis;
  overflow: hidden;
}

.song-card-image {
  aspect-ratio: 1/1;
}